@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  /* Primary colors. */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  /* Neutral colors. */
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--white);
  display: grid;
  align-items: center;
}

.stats-preview-card {
  max-width: 327px;
  background-color: var(--dark-desaturated-blue);
  margin: auto;
  border-radius: 0.625rem;
  position: relative;
}

.card__image-container {
  background-color: var(--soft-violet);
  border-radius: 0.625rem 0.625rem 0 0;
  height: 240px;
}

.card__image-header > img {
  border-radius: 0.625rem 0.625rem 0 0;
  mix-blend-mode: multiply;
  opacity: 84%;
  width: 100%;
}

.card__text-container {
  padding: 2rem;
}

.card__title {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

.card__title-highlight {
  color: var(--soft-violet);
}

.card__description {
  color: var(--slightly-transparent-white-main-paragraph);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 2.25rem;
  text-align: center;
}

.card__stats-list {
  color: var(--slightly-transparent-white-stat-headings);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.75rem;
  line-height: 1.7rem;
  list-style-type: none;
  text-align: center;
}

.card__stats-list-number {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.card__stats-list > li:nth-child(2) {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: var(--soft-violet);
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(212, 95%, 48%);
}

@media screen and (min-width: 1110px) {
  .stats-preview-card {
    max-width: 1110px;
    max-height: 446px;
    display: flex;
    flex-direction: row-reverse;
  }

  .card__image-container {
    border-radius: 0 0.625rem 0.625rem 0;
    height: 446px;
  }

  .card__image-header > img {
    border-radius: 0 0.625rem 0.625rem 0;
    width: 100%;
  }

  .card__text-container {
    max-width: 570px;
    padding-left: 72px;
    padding-right: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card__title {
    font-size: 2.2rem;
    text-align: start;
  }

  .card__description {
    margin-top: 1.65rem;
    margin-bottom: 4.5rem;
    text-align: start;
  }

  .card__stats-list {
    margin-right: 1rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card__stats-list > li:nth-child(2) {
    margin: unset;
  }
}
